@charset "UTF-8";
body {
  background-color: #f5f9fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

header {
  background-color: #88b77b;
  color: white;
  padding: 1rem 0;
}

footer {
  background-color: #88b77b;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

.booking-header {
  background-color: #a4c89a;
  border-radius: 1rem;
  padding: 2rem;
}

.card {
  border: none;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-primary {
  background-color: #88b77b;
  border-color: #88b77b;
}

.btn-primary:hover {
  background-color: #659c55;
  border-color: #659c55;
}

.btn-outline-secondary:hover {
  background-color: #cccccc;
  color: #333;
}
